In [3]:
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 128 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql
import pandas as pd

## DB connection
- 직접입력 부분은 자신의 설정으로 수정해야함.

In [2]:
pwd = '직접입력'
host = '127.0.0.1'
db_name = '직접입력'

db = pymysql.connect(
    user = 'root', 
    passwd = pwd, 
    host = '127.0.0.1', 
    db = db_name, 
    charset='utf8'
)

#커서 가져오기
cursor = db.cursor()

In [3]:
# youtube_columns = ['youtuber_name','subscribers','channel_url']
# video_columns = ['title','view','contents','create_date','search_query','video_url','youtuber_name']

## Create Table

In [8]:
sql = """
create table youtuber (
id int,
youtuber_name VARCHAR(50),
subscribers int,
channel_url VARCHAR(200),
PRIMARY KEY(id)
)
"""

In [9]:
cursor.execute(sql)
#db에 complete
db.commit()

In [10]:
sql = """
create table video_info (
id INT UNSIGNED NOT NULL AUTO_INCREMENT,
title VARCHAR(100),
view int,
contents VARCHAR(300),
create_date DATE,
search_query VARCHAR(20),
video_url VARCHAR(200),
youtuber_id int,
PRIMARY KEY(id)
)
"""

In [11]:
cursor.execute(sql)
#db에 complete
db.commit()

In [12]:
db.close()

## Read data

In [13]:
video = pd.read_csv('[final]video_info_df.csv',index_col = 0)
youtuber = pd.read_csv('[final]youtuber_df.csv',index_col = 0)

In [14]:
video.head()

,title,view,contents,create_date,search_query,video_url,youtuber_id
0,갤럭시 Z 플립4 언빡싱 달라진점 7가지 플립3의 가장 큰 단점을 개선했다,980000,갬성의 삼성이라고 불렸던 플립3의 후속작인 플립4가 공개되었습니다 이번에는 파격적...,2022-08-16,갤럭시,https://www.youtube.com/watch?v=WwGzNicmPHk,0
1,1 갤럭시 Z 플립4 폴드4 첫 인상 궁금한게 많아서 개발자분께 모두 물어봤...,1670000,기다리고 기다렸던 삼성전자의 하반기 전략 플래그십 스마트폰 갤럭시 Z 플립4와 폴...,2022-08-11,갤럭시,https://www.youtube.com/watch?v=H-wxJxEkmm4,0
2,40대가 아이폰을 사기 시작했다 예상과 달리 놀라운 결과의 2022년 한국 스마트...,760000,한국에서 갤럭시가 더 많이 팔리는지 아이폰이 더 많이 팔리는지 궁금하셨나요 이번...,2022-07-20,갤럭시,https://www.youtube.com/watch?v=PDMQpgMDjeU,0
3,2 갤럭시 버즈2 프로 워치5 프로 첫 인상 귀에 넣어도 이제 안 아플까,710000,2022년 8월 10일 기다리고 기다렸던 버즈 프로의 후속작인 버즈2 프로 그리고...,2022-08-11,갤럭시,https://www.youtube.com/watch?v=MsdZwVNK6EE,0
4,삼성버전 인덕션 카메라 성능에 몰빵한 삼성 갤럭시 S20 S20 S20 ...,2290000,드디어 상반기 삼성의 플래그십 스마트폰 갤럭시 S20 시리즈가 모두 공개되었습니...,2020-08-17,갤럭시,https://www.youtube.com/watch?v=NLNJ2hKDyaU,0

In [15]:
youtuber.head()

,id,youtuber_name,subscribers,channel_url
0,0,ITSub잇섭,2190000,https://www.youtube.com/c/ITSUB%EC%9E%87%EC%84%AD
1,1,주연 ZUYONI,590000,https://www.youtube.com/channel/UCB11SAf7WSN4G...
2,2,인태크 INTAECH,3410,https://www.youtube.com/channel/UCr6deoUPd2sh7...
3,3,고나고,131000,https://www.youtube.com/user/gonachoi
4,4,삼성전자 Samsung Korea,441000,https://www.youtube.com/c/SamsungKorea

## Insert DataFrame

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+pwd+"@localhost/"+db_name, encoding='utf-8')
conn = engine.connect()

# MySQL에 저장하기
youtuber.to_sql(name='youtuber', con=engine, if_exists='append', index= False)

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine("mysql+mysqldb://root:"+pwd+"@localhost/"+db_name, encoding='utf-8')
conn = engine.connect()

# MySQL에 저장하기
video.to_sql(name='video_info', con=engine, if_exists='append', index= False)